<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_Customer>
            <version>1.0.1</version>
        </MageFM_Customer>
    </modules>
    <global>
        <models>
            <magefm_customer>
                <class>MageFM_Customer_Model</class>
            </magefm_customer>
            <checkout>
                <rewrite>
                    <type_onepage>MageFM_Customer_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <magefm_customer>
                <class>MageFM_Customer_Helper</class>
            </magefm_customer>
        </helpers>
        <blocks>
            <magefm_customer>
                <class>MageFM_Customer_Block</class>
            </magefm_customer>
            <checkout>
                <rewrite>
                    <onepage>MageFM_Customer_Block_Checkout_Onepage</onepage>
                    <onepage_progress>MageFM_Customer_Block_Checkout_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <customer_grid>MageFM_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <magefm_customer_setup>
                <setup>
                    <module>MageFM_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </magefm_customer_setup>
        </resources>
        <fieldsets>
            <customer_address>
                <identification>
                    <to_quote_address>*</to_quote_address>
                </identification>
                <mobilephone>
                    <to_quote_address>*</to_quote_address>
                </mobilephone>
                <bairro>
                    <to_quote_address>*</to_quote_address>
                </bairro>
            </customer_address>
            <sales_convert_quote_address>
                <identification>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </identification>
                <mobilephone>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </mobilephone>
                <bairro>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </bairro>
            </sales_convert_quote_address>
            <customer_account>
                <tipopessoa>
                    <to_quote>customer_tipopessoa</to_quote>
                </tipopessoa>
                <cpf>
                    <to_quote>customer_cpf</to_quote>
                </cpf>
                <telefone>
                    <to_quote>customer_telefone</to_quote>
                </telefone>
                <cnpj>
                    <to_quote>customer_cnpj</to_quote>
                </cnpj>
                <razao_social>
                    <to_quote>customer_razao_social</to_quote>
                </razao_social>
                <inscricao_estadual>
                    <to_quote>customer_inscricao_estadual</to_quote>
                </inscricao_estadual>
                <inscricao_estadual_isento>
                    <to_quote>customer_inscricao_estadual_isento</to_quote>
                </inscricao_estadual_isento>
            </customer_account>
            <sales_convert_quote>
                <customer_tipopessoa>
                    <to_order>*</to_order>
                </customer_tipopessoa>
                <customer_cpf>
                    <to_order>*</to_order>
                </customer_cpf>
                <customer_telefone>
                    <to_order>*</to_order>
                </customer_telefone>
                <customer_cnpj>
                    <to_order>*</to_order>
                </customer_cnpj>
                <customer_razao_social>
                    <to_order>*</to_order>
                </customer_razao_social>
                <customer_inscricao_estadual>
                    <to_order>*</to_order>
                </customer_inscricao_estadual>
                <customer_inscricao_estadual_isento>
                    <to_order>*</to_order>
                </customer_inscricao_estadual_isento>
            </sales_convert_quote>
            <checkout_onepage_quote>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_cpf>
                    <to_customer>cpf</to_customer>
                </customer_cpf>
                <customer_telefone>
                    <to_customer>telefone</to_customer>
                </customer_telefone>
                <customer_cnpj>
                    <to_customer>cnpj</to_customer>
                </customer_cnpj>
                <customer_razao_social>
                    <to_customer>razao_social</to_customer>
                </customer_razao_social>
                <customer_inscricao_estadual>
                    <to_customer>inscricao_estadual</to_customer>
                </customer_inscricao_estadual>
                <customer_inscricao_estadual_isento>
                    <to_customer>inscricao_estadual_isento</to_customer>
                </customer_inscricao_estadual_isento>
            </checkout_onepage_quote>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <magefm_customer>
                    <file>magefm_customer.xml</file>
                </magefm_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageFM_Customer>
                    <files>
                        <default>MageFM_Customer.csv</default>
                    </files>
                </MageFM_Customer>
            </modules>
        </translate>
        <routers>
            <magefm_customer>
                <use>standard</use>
                <args>
                    <module>MageFM_Customer</module>
                    <frontName>magefm_customer</frontName>
                </args>
            </magefm_customer>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magefm_customer>
                                            <title>MageFM Customer</title>
                                        </magefm_customer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MageFM_Customer>
                    <files>
                        <default>MageFM_Customer.csv</default>
                    </files>
                </MageFM_Customer>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <magefm_customer>
            <general>
                <cep_webservice><![CDATA[http://cep.magefm.com/]]></cep_webservice>
            </general>
        </magefm_customer>
    </default>
</config>